<p>test works!</p>
{{klass |uppercase}}

<input type="submit" (click)="showMsg()" value="event">
<div [style.backgroundColor]="kolor">

    div
</div>
<input type="text" [(ngModel)]="kolor" ><br>
<input type="text" #t>
<input type="submit" (click)="changeColor(t.value)">

<div *ngFor="let p of listProdcut">
{{p.id}}
{{p.title}}
{{p.price}}
{{p.quantity}}
<div *ngIf="p.quantity==0">
<input type="submit" value="buy" [disabled]="true">
</div>
<div *ngIf="p.quantity!=0">
    <input type="submit" value="buy" [disabled]="false">
    </div>

    <input type="submit" value="buy" [disabled]="p.quantity==0">
</div>
